@model IEnumerable<sistema_fichas.Business.PedidoDetalle>
<div class="row-fluid">
    <table class="table table-bordered table-condensed table-striped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Pedido_ID)
                </th>
                <th>
                    Correlativo
                </th>
                <th class="col-xs-1 text-center">
                    @Html.DisplayNameFor(model => model.Cantidad)
                </th>
                <th class="col-xs-1 text-center">
                    @Html.DisplayNameFor(model => model.Valor)
                </th>
                <th class="col-xs-4 text-center">
                    @Html.DisplayNameFor(model => model.Herramienta.Nombre)
                </th>
                <th class="col-xs-2 text-center">
                    @Html.DisplayNameFor(model => model.Modalidad_ID)
                </th>
                <th class="col-xs-2">
                    @Html.DisplayNameFor(model => model.EstadoDetalle_ID)
                </th>
                <th class ="col-xs-1">

                </th>
            </tr>
        </thead>
        <tbody>
           @if (!Model.Any())
           {
           <tr>
               <td colspan="8" class="text-center">
                   <span class="text-danger"> No se encontraron registros </span>
               </td>
               
           </tr>
           }else{
                int count = 1;
                foreach (var item in Model)
            {
                <tr id="herramientas-@item.ID">
                    <td>@Html.DisplayFor(modelItem => item.Pedido_ID)</td>
                    <td>@(count++) </td>
                    <td>@Html.DisplayFor(modelItem => item.Cantidad)</td>
                    <td class="text-right"> @Html.DisplayFor(modelItem => item.Valor) <label class="label label-default">@Html.DisplayFor(modelItem => item.Moneda.Alias)</label></td>
                    <td>@Html.DisplayFor(modelItem => item.Herramienta.Nombre)</td>
                    <td>@Html.DisplayFor(modelItem => item.Modalidad.Nombre)</td>
                    <td class="text-center">
                        <label class="label label-success">
                            @Html.DisplayFor(modelItem => item.EstadoDetalle.Nombre)
                        </label>
                    </td>
                    <td>
                        <div class="text-center">
                            @Html.botonVer(sistema_fichas.Business.TipoPedidoDetalle.Herramienta.GetHashCode(), item.ID.ToString())
                            @Html.botonEditar(sistema_fichas.Business.TipoPedidoDetalle.Herramienta.GetHashCode(), item.ID.ToString()).If(PedidoHelper.esActivoEditable(item.EstadoDetalle.Estado, item.Pedido.EstadoPedido.Estado))
                            @Html.botonEliminar(sistema_fichas.Business.TipoPedidoDetalle.Herramienta.GetHashCode(), item.ID.ToString()).If(PedidoHelper.esActivoEditable(item.EstadoDetalle.Estado, item.Pedido.EstadoPedido.Estado))
                        </div>
                    </td>
                </tr>
            }
           }
        </tbody>
    </table>
</div>

